@tailwind base;
@tailwind components;
@tailwind utilities;

.polygon-p{
    filter: url('#goo');
}
.polygon-r{
  
    clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%);
  
}
.polygon-l{
  
    clip-path: polygon(20% 0, 100% 0%, 100% 100%, 0% 100%);
  
}



/****/
  /* Tab content - closed */
  .tab-content {
    max-height: 0;
    transition: max-height .35s;
    }
    /* :checked - resize to full height */
    .tab input:checked ~ .tab-content {
    max-height: 100vh;
    }
    /* Label formatting when open */
    .tab input:checked + label{
    /*@apply text-xl p-5 border-l-2 border-indigo-500 bg-gray-100 text-indigo*/
    font-size: 1.25rem; /*.text-xl*/
    padding: 1.25rem; /*.p-5*/
    background-color: #f8fafc; /*.bg-gray-100 */
    }
    /* Icon */
    .tab label::after {
    float:right;
    right: 0;
    top: 0;
    display: block;
    width: em;
    height: 1.5em;
    line-height: 1.5;
    font-size: 1.25rem;
    text-align: center;
    transition: all .35s;
    }
  
    .tab input[type=radio] + label::after {
    content: "\25BE";
    font-weight:bold; /*.font-bold*/
    border-width: 1px; /*.border*/
    border-radius: 9999px; /*.rounded-full */
    border-color: #b8c2cc; /*.border-grey*/
    }

    /* Icon formatting - open */
    .tab input[type=radio]:checked + label::after {
    transform: rotateX(180deg);
    background-color: #6574cd; /*.bg-indigo*/
    color: #f8fafc; /*.text-grey-lightest*/
    }